{% extends 'main_home_template.html' %}
{% block additionalCSS %}
<style>
#box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#date{
    margin: 10px;
}
#tble{
    border: 3px solid black;
    width: 50%;
    height: 50%;
    text-align: center;
}
th{
    color:red;
}
</style>
{% endblock %}
{% block contents %}
{% if student %}
<div id="box">
<form method="POST">
    {% csrf_token %}
    <input type="date" id="date" name="date" required>
    <input type="submit" value="Fetch">
</form>
<table id="tble" border="1">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Present</th>
        </tr>
    </thead>
    <tbody>
        {% if processed %}
            {% for subject, status in status %}
                <tr>
                    <td>{{ subject }}</td>
                    <td>{% if status %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<h1>{{date}}</h1>
</div>
{% else %}
<div id="box">
<form method="POST">
{% csrf_token %}
<select name="sub" required>
<option value="">Subject</option>
{% for sub in subject %}
<option value="{{ sub.name }}">{{ sub.name }}</option>
{% endfor %}
</select>
<input type="submit" value="submit" name="subject-select">
</form>
{% if loaded %}
<form method="POST">
{% csrf_token %}
<table id="tble" border="1">
    <thead>
        <tr>
            <th>Roll</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.roll_no }}</td>
                <td><input type="checkbox" name="{{ student.roll_no }}" checked></td>
            </tr>
            <input type="text" name="roll_no" value="{{ student.roll_no }}" hidden>
        {% endfor %}
    </tbody>
</table>
<input type="text" value="{{ subject }}" name="subject" hidden>
<input type="text" value="{{ semester }}" name="semester" hidden>
<input type="submit" value="submit" name="attendence-submit">
</form>
{% endif %}
</div>
{% endif %}
{% endblock %}